<div class="container">
    <div class="row">
        <div class="col-xs-12 text-right"><h3>Report Created: <strong>December 31, 2015</strong></h3></div>
    </div>
    <div style="height: 50px"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-8">
                    <h1>Cloud Comparison Report</h1>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary">Customize Report</button>
                    <button class="btn btn-primary">Export PDF Report</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Application Template: <strong>Content Management</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repellat quae, dolores quaerat pariatur repellendus alias! Hic ab consequuntur rerum provident fugit explicabo eligendi. Sed rerum, cupiditate quidem quisquam sequi!</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div><h3>Amazon</h3></div>
                            <div><h4>Requested Provider</h4></div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div><h3>US - East, Virginia</h3></div>
                            <div><h4>Requested Region</h4></div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div><h3>$7,907</h3></div>
                            <div><h4>Total Monthly Cost</h4></div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div><h3>Production</h3></div>
                            <div><h4>Configuration</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div style="height: 50px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Estimated Bill of Materials</h2>
            <table class="table table-responsive table-hover" st-table="data.listItems">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Item</th>
                        <th>Specs</th>
                        <th>MRC</th>
                        <th>NRC</th>
                        <th>Total Monthly Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>4</td>
                        <td>c3.xlarge</td>
                        <td>4 cores and 8.1GB</td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 50px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Configuration Mapping – Production</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem facilis inventore vero quidem nisi magnam quibusdam voluptate voluptatibus nemo eos neque consectetur iure laborum, nesciunt ex sit, obcaecati illum rerum!</p>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Web Servers</h3>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center"><h4><strong>Requested</strong></h4></div>
                        <div class="col-md-4 text-center"><h4><strong>Available From Provider</strong></h4></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Quantity</div>
                        <div class="col-md-4 text-center">15</div>
                        <div class="col-md-4 text-center">15</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Cores</div>
                        <div class="col-md-4 text-center">8</div>
                        <div class="col-md-4 text-center">8</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Ghz/Core</div>
                        <div class="col-md-4 text-center">1.6</div>
                        <div class="col-md-4 text-center">2</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">RAM (GB)</div>
                        <div class="col-md-4 text-center">122</div>
                        <div class="col-md-4 text-center">128</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Local Disk (GB)</div>
                        <div class="col-md-4 text-center">200</div>
                        <div class="col-md-4 text-center">250</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Operating System</div>
                        <div class="col-md-4 text-center">Linux</div>
                        <div class="col-md-4 text-center">Linux</div>
                    </div>
                    <hr>
                    
                    <div style="height: 10px"></div>

                    <h3>Storage</h3>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center"><h4><strong>Requested</strong></h4></div>
                        <div class="col-md-4 text-center"><h4><strong>Available From Provider</strong></h4></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Shared Storage (GB)</div>
                        <div class="col-md-4 text-center">500</div>
                        <div class="col-md-4 text-center">500</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Network Storage (GB)</div>
                        <div class="col-md-4 text-center">2500</div>
                        <div class="col-md-4 text-center">2500</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Cloud Storage (GB)</div>
                        <div class="col-md-4 text-center">500</div>
                        <div class="col-md-4 text-center">500</div>
                    </div>
                    <hr>
                    
                    <div style="height: 10px"></div>

                    <h3>Network</h3>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center"><h4><strong>Requested</strong></h4></div>
                        <div class="col-md-4 text-center"><h4><strong>Available From Provider</strong></h4></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Bandwidth (GB/month)</div>
                        <div class="col-md-4 text-center">5000</div>
                        <div class="col-md-4 text-center">5000</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Inbound (GB/month)</div>
                        <div class="col-md-4 text-center">2500</div>
                        <div class="col-md-4 text-center">2500</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Outbound (GB/month)</div>
                        <div class="col-md-4 text-center">500</div>
                        <div class="col-md-4 text-center">500</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>
    <hr>
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Capabilities Mapping – Production</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab minima asperiores sapiente sit voluptatum placeat quibusdam sequi atque quia, eaque soluta reprehenderit dolore ratione ut perferendis numquam eligendi debitis ducimus!</p>
            <h3>Critical</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
            <hr>

            <h3>Required</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
            <hr>

            <h3>Desired</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
            <hr>

            <h3>Nice to Have</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
            <hr>

            <h3>Limited Value</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
            <hr>

            <h3>Not Needed</h3>
            <div class="row">
                <div class="col-md-4">Feature</div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
                <div class="col-md-4 text-center"><i class="fa fa-check"></i></div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>
    <hr>
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Justification</h3>
            <p>testLorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aperiam voluptatem fuga, velit, tempore asperiores, libero sed laboriosam vero, illo repellendus sequi amet ut veniam quos. Voluptas perferendis labore, soluta.</p>
        </div>
    </div>
    <div style="height: 50px"></div>
    <hr>
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Other Providers</h2>
            <div class="row">
                <div class="col-xs-12 col-md-3"><h3>Provider</h3></div>
                <div class="col-xs-12 col-md-3"><h3>Coverage</h3></div>
                <div class="col-xs-12 col-md-3"><h3>Quality of Service</h3></div>
                <div class="col-xs-12 col-md-3"><h3>Price</h3></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    Google Compute Engine Cloud
                </div>
                <div class="col-xs-12 col-md-3">
                    Current Coverage Image                    

                    <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">  60%
                        </div>
                    </div> -->
                </div>
                <div class="col-xs-12 col-md-3">
                    Current Quality of Service Image
                </div>
                <div class="col-xs-12 col-md-3">
                    $110 - $260
                </div>
            </div>
            <div style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div><strong>What's Missing</strong></div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div><strong>What's Extra</strong></div>
                            <div>
                                <ul class="list-unstyled">
                                    <li>Data Encryption</li>
                                    <li>Dedicated Network</li>
                                    <li>Large Data Transfer</li>
                                    <li>Network Encryption</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3"></div>
                        <div class="col-xs-12 col-md-3">
                            <div>
                                <ul class="list-unstyled text-right">
                                    <li>US West (Oregon) - $110.40</li>
                                    <li>US East (Northern Virginia) - $110.40</li>
                                    <li>EU (Ireland) - $118.80</li>
                                    <li>US West (Northern California) - $155.00</li>
                                    <li>Asia Pacific (Singapore) - $169.60</li>
                                    <li>Asia Pacific (Sydney) - $173.60</li>
                                    <li>Asia Pacific (Tokyo) - $173.60</li>
                                    <li>South America (Sao Paulo) - $259.80</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>
    <hr>
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Terms</h3>
            <p>testLorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aperiam voluptatem fuga, velit, tempore asperiores, libero sed laboriosam vero, illo repellendus sequi amet ut veniam quos. Voluptas perferendis labore, soluta.</p>
        </div>
    </div>
</div>